STRINGTABLE
LANGUAGE LANG_GREEK, SUBLANG_DEFAULT
{
500, "Το πρόγραμμα προστέθηκε στην εκκίνηση χωρίς δικαιώματα διαχειριστή."
501, "Το πρόγραμμα προστέθηκε στην εκκίνηση."
502, "Το πρόγραμμα αφαιρέθηκε από την εκκίνηση."
503, "Παρουσιάστηκε σφάλμα κατά την προσθήκη του προγράμματος στην εκκίνηση."
504, "Παρουσιάστηκε σφάλμα κατά την αφαίρεση του προγράμματος από την εκκίνηση."
}
