STRINGTABLE
LANGUAGE LANG_GREEK, SUBLANG_DEFAULT
{
900, "Ενημέρωση λογισμικού"
901, "Μια νέα έκδοση του %0:s είναι διαθέσιμη!"
902, "Η έκδοση %1:s του %0:s είναι πλέον διαθέσιμη (έχετε την έκδοση %2:s). Θέλετε να την κάνετε λήψη τώρα;"
903, "Σημειώσεις έκδοσης:"
904, "Παράλειψη αυτής της έκδοσης"
905, "Υπενθύμιση αργότερα"
906, "Εγκατάσταση ενημέρωσης"
907, "Έχετε την πιο πρόσφατη έκδοση!"
908, "Η έκδοση %1:s του %0:s είναι ήδη η πιο πρόσφατη διαθέσιμη έκδοση."
909, "Κλείσιμο"
910, "Παρουσιάστηκε σφάλμα κατά τη λήψη των ενημερώσεων"
911, "Δεν είναι δυνατή η έναρξη της ενημέρωσης"
912, "Τρέχουσα έκδοση"
}
