STRINGTABLE
LANGUAGE LANG_GREEK, SUBLANG_DEFAULT
{
0, "Ελληνικά"
1, "MouseMAC"
2, "Ρυθμίσεις:"
3, "&Enabled"
4, "Enabled"
5, "Disabled"
6, "&Αυτόματη έναρξη με τα Windows"
7, "&Invert scrolling"
8, "Ρυθμίσεις &ποντικιού"
9, "&Έξοδος"
10, "Έκδοση"
11, "&Ιστοσελίδα Mouse MAC"
12, "http://mousemac.tarasovlabs.com"

22, "Listbox smooth scrolling"

30, "&Horizontal scrolling with \nthe Shift key"
31, "Scroll &sensitivity setting"

40, "https://mousemac.tarasovlabs.com/update.uurl"
41, "Αυτόματες &ενημερώσεις"
42, "&Ενεργοποίηση αυτόματων ενημερώσεων"
43, "&Έλεγχος για ενημερώσεις"
44, "New version of %0:s is available\nΚάντε κλικ εδώ για περισσότερες λεπτομέρειες"
45, "Update successful\nThe new version is %0:s"
46, "Η ενημέρωση απέτυχε\nΚάντε κλικ εδώ για να επισκεφθείτε την ιστοσελίδα"

150, "&Γλώσσα"
151, "&Προεπιλεγμένη"

300, "Sensitivity setting"
301, "Κατακόρυφη κύλιση"
302, "Οριζόντια κύλιση"
303, "Reset to default"

224, "&Άδεια χρήσης"
}
