STRINGTABLE
LANGUAGE LANG_GREEK, SUBLANG_DEFAULT
{
0, "Ελληνικά"
1, "MouseMAC"
2, "Ρυθμίσεις:"
3, "&Ενεργοποιημένο"
4, "Ενεργοποιημένο"
5, "Απενεργοποιημένο"
6, "&Αυτόματη έναρξη με τα Windows"
7, "&Αντιστροφή κύλισης"
8, "Ρυθμίσεις &ποντικιού"
9, "&Έξοδος"
10, "Έκδοση"
11, "&Ιστοσελίδα Mouse MAC"
12, "http://mousemac.tarasovlabs.com"

22, "Ομαλή κύλιση πλαισίου λίστας"

30, "&Οριζόντια κύλιση με \nτο πλήκτρο Shift"
31, "Ρύθμιση &ευαισθησίας κύλισης"

40, "https://mousemac.tarasovlabs.com/update.uurl"
41, "Αυτόματες &ενημερώσεις"
42, "&Ενεργοποίηση αυτόματων ενημερώσεων"
43, "&Έλεγχος για ενημερώσεις"
44, "Μια νέα έκδοση του %0:s είναι διαθέσιμη\nΚάντε κλικ εδώ για περισσότερες λεπτομέρειες"
45, "Η ενημέρωση ήταν επιτυχής\nΗ νέα έκδοση είναι η %0:s"
46, "Η ενημέρωση απέτυχε\nΚάντε κλικ εδώ για να επισκεφθείτε την ιστοσελίδα"

150, "&Γλώσσα"
151, "&Προεπιλεγμένη"

300, "Ρύθμιση ευαισθησίας"
301, "Κατακόρυφη κύλιση"
302, "Οριζόντια κύλιση"
303, "Επαναφορά προεπιλογής"

224, "&Άδεια χρήσης"
}
